<div *ngIf="loading" class="mat-spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="!loading">
  <button mat-flat-button color="warn" (click)="toggleCreateContainer()">Create</button>
  <app-team-create *ngIf="showCreate" (onCreate)="addCreatedTeam($event)" (onEdit)="unsaved = $event"></app-team-create>
</mat-card>
<div *ngFor="let _team of teams">
  <app-team [team]="_team"></app-team>
</div>