/* You can add global styles to this file, and also import other style files */
.mat-card
    max-width: 600px
    min-width: 300px
    margin: 10px

snack-bar-container
    &.error-snack-bar 
        background: #a90707
        text-align: center
    &.usual-snack-bar 
        text-align: center
    & span 
        width: 100%

.mat-form-field
    width: 100%
