<mat-card>
  <mat-card-header>
    <mat-card-title>Create Project</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="projectForm" (ngSubmit)="createProject()">
      <mat-form-field>
        <input type="text" formControlName="name" matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <input type="text" formControlName="description" matInput placeholder="Description">
      </mat-form-field>
      <mat-form-field>
        <input type="datetime-local" formControlName="deadline" matInput  placeholder="deadline">
      </mat-form-field>
      <mat-form-field>
        <input type="number" formControlName="authorId" matInput placeholder="AuthorId">
      </mat-form-field>
      <mat-form-field>
        <input type="number" formControlName="teamId" matInput placeholder="TeamId">
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="projectForm.invalid">Save</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>