<div *ngIf="loading" class="mat-spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="!loading">
  <button mat-flat-button color="warn" (click)="toggleCreateContainer()">Create</button>
  <app-project-create *ngIf="showCreate" (onCreate)="addCreatedProject($event)" (onEdit)="unsaved = $event"></app-project-create>
</mat-card>
<div *ngFor="let _project of projects">
  <app-project [project]="_project"></app-project>
</div>