<mat-card *ngIf="show">
  <mat-card-header>
    <mat-card-title>Id : {{team.id}}</mat-card-title>
    <mat-card-subtitle>Name : {{team.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{team.description}}</p>
    <p>{{team.createdAt | formatDate}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="deleteTeam()">DELETE</button>
    <button mat-button (click)="openDialog()">EDIT</button>
  </mat-card-actions>
</mat-card>