<div class="mat-app-background basic-container">
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of links"
      (click)="activeLink = link"
      [active]="activeLink == link"
      [routerLink]="link | lowercase"> {{link}}
    </a>
  </nav>
  <div class="content-holder">
    <router-outlet></router-outlet>
  </div>
</div>