<div *ngIf="loading" class="mat-spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="!loading">
  <button mat-flat-button color="warn" (click)="toggleCreateContainer()">Create</button>
  <app-task-create *ngIf="showCreate" (onCreate)="addCreatedTask($event)" (onEdit)="unsaved = $event"></app-task-create>
</mat-card>
<div *ngFor="let _task of tasks">
  <app-task [task]="_task"></app-task>
</div>