<mat-card *ngIf="show">
  <mat-card-header>
    <mat-card-title>Id : {{user.id}}</mat-card-title>
    <mat-card-subtitle>FistName : {{user.firstName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>LastName : {{user.lastName}}</p>
    <p>Email : {{user.email}}</p>
    <p>Birthday : {{user.birthday | formatDate}}</p>
    <p>RegisteredAt : {{user.registeredAt | formatDate}}</p>
    <p *ngIf="user.teamId">TeamId : {{user.teamId}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="deleteUser()">DELETE</button>
    <button mat-button (click)="openDialog()">EDIT</button>
  </mat-card-actions>
</mat-card>