<h1 mat-dialog-title>Edit TaskId: {{task.id}}</h1>
<form #taskForm="ngForm" (ngSubmit)="updateTask()">
  <div mat-dialog-content>
    <mat-form-field>
      <input type="text" name="name" [(ngModel)]="taskUpdate.name" #name="ngModel" matInput placeholder="Name" required minlength="2" maxlength="100">
      <mat-error class="error-message" *ngIf="name.invalid">At least 2 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" name="description" [(ngModel)]="taskUpdate.description" #description="ngModel" matInput placeholder="Description" required minlength="10" maxlength="500">
      <mat-error class="error-message" *ngIf="description.invalid">At least 10 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="datetime-local" name="finishedAt" [(ngModel)]="taskUpdate.finishedAt" #finishedAt="ngModel" matInput  placeholder="FinishedAt" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Task state</mat-label>
      <mat-select [(ngModel)]="taskUpdate.state" name="state" required>
        <mat-option *ngFor="let key of getKeys()" [value]="ranges[key]">
          {{ key }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="number" name="projectId" [(ngModel)]="taskUpdate.projectId" #projectId="ngModel" matInput placeholder="ProjectId" required>
    </mat-form-field>
    <mat-form-field>
      <input type="number" name="performerId" [(ngModel)]="taskUpdate.performerId" #performerId="ngModel" matInput placeholder="PerformerId" required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid">Save</button>
    <button mat-raised-button type="button" (click)="close(taskForm.dirty)">Close</button>
  </div>
</form>