<div *ngIf="loading" class="mat-spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="!loading">
  <button mat-flat-button color="warn" (click)="toggleCreateContainer()">Create</button>
  <app-user-create *ngIf="showCreate" (onCreate)="addCreatedUser($event)" (onEdit)="unsaved = $event"></app-user-create>
</mat-card>
<div *ngFor="let _user of users">
  <app-user [user]="_user"></app-user>
</div>