<mat-card *ngIf="show">
  <mat-card-header>
    <mat-card-title>Id : {{task.id}}</mat-card-title>
    <mat-card-subtitle>Name : {{task.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{task.description}}</p>
    <p>CreatedAt : {{task.createdAt | formatDate}}</p>
    <p>FinishedAt : {{task.finishedAt | formatDate}}</p>
    <p >State : <span taskState>{{task.state}}</span></p>
    <p>ProjectId : {{task.projectId}}</p>
    <mat-card-actions *ngIf="task.performer">
      <button mat-raised-button color="accent" (click)="collapsed=!collapsed">Performer</button>
    </mat-card-actions>
    <mat-card-content *ngIf="collapsed">
      <p>Id : {{task.performer.id}}</p>
      <p>FistName : {{task.performer.firstName}}</p>
      <p>LastName : {{task.performer.lastName}}</p>
      <p>Email : {{task.performer.email}}</p>
      <p>Birthday : {{task.performer.birthday | formatDate}}</p>
      <p>RegisteredAt : {{task.performer.registeredAt}}</p>
      <p *ngIf="task.performer.teamId">TeamId : {{task.performer.teamId}}</p>
    </mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="deleteTask()">DELETE</button>
    <button mat-button (click)="openDialog()">EDIT</button>
  </mat-card-actions>
</mat-card>