<h1 mat-dialog-title>Edit UserId: {{userUpdate.id}}</h1>
<form #userForm="ngForm" (ngSubmit)="updateUser()">
  <div mat-dialog-content>
    <mat-form-field>
      <input type="text" name="firstName" [(ngModel)]="userUpdate.firstName" #firstName="ngModel" matInput placeholder="FirstName" required>
    </mat-form-field>
    <mat-form-field>
      <input type="text" name="lastName" [(ngModel)]="userUpdate.lastName" #lastName="ngModel" matInput placeholder="LastName" required>
    </mat-form-field>
    <mat-form-field>
      <input type="email" name="email" [(ngModel)]="userUpdate.email" #email="ngModel" matInput placeholder="Email" required email>
    </mat-form-field>
    <mat-form-field>
      <input type="datetime-local" name="birthday" [(ngModel)]="userUpdate.birthday" #birthday="ngModel"  matInput  placeholder="Birthday" required>
    </mat-form-field>
    <mat-form-field>
      <input type="number" name="teamId" [(ngModel)]="userUpdate.teamId" #teamId="ngModel" matInput placeholder="TeamId">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Save</button>
    <button mat-raised-button type="button" (click)="close(userForm.dirty)">Close</button>
  </div>
</form>