<mat-card>
  <mat-card-header>
    <mat-card-title>Create Team</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="teamForm" (ngSubmit)="createTeam()">
      <mat-form-field>
        <input type="text" formControlName="name" matInput placeholder="Name" required>
        <mat-error class="error-message" *ngIf="teamForm.get('name').invalid && teamForm.get('name').touched">At least 2 characters</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea  formControlName="description" matInput placeholder="Description" required minlength="10" maxlength="500"></textarea>
        <mat-error class="error-message" *ngIf="teamForm.get('description').invalid && teamForm.get('description').touched">At least 10 characters</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="teamForm.invalid">Save</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>