<mat-card>
  <mat-card-header>
    <mat-card-title>Create Task</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="taskForm" (ngSubmit)="createTask()">
      <mat-form-field>
        <input type="text" formControlName="name" matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <input type="text" formControlName="description" matInput placeholder="Description">
      </mat-form-field>
      <mat-form-field>
        <input type="datetime-local" formControlName="finishedAt" matInput  placeholder="FinishedAt">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Task state</mat-label>
        <mat-select formControlName="state" required>
          <mat-option *ngFor="let key of getKeys()" [value]="ranges[key]">
            {{key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input type="number" formControlName="projectId" matInput placeholder="ProjectId">
      </mat-form-field>
      <mat-form-field>
        <input type="number" formControlName="performerId" matInput placeholder="PerformerId">
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid">Save</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>