<h1 mat-dialog-title>Edit ProjectId: {{project.id}}</h1>
<form #projectForm="ngForm" (ngSubmit)="updateProject()">
  <div mat-dialog-content>
    <mat-form-field>
      <input type="text" name="name" [(ngModel)]="projectUpdate.name" #name="ngModel" matInput placeholder="Name" required minlength="2" maxlength="100">
      <mat-error class="error-message" *ngIf="name.invalid">At least 2 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" name="description" [(ngModel)]="projectUpdate.description" #description="ngModel" matInput placeholder="Description" required minlength="10" maxlength="500">
      <mat-error class="error-message" *ngIf="description.invalid">At least 10 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="datetime-local" name="deadline" [(ngModel)]="projectUpdate.deadline" #deadline="ngModel" matInput  placeholder="Deadline" required>
    </mat-form-field>
    <mat-form-field>
      <input type="number" name="authorId" [(ngModel)]="projectUpdate.authorId" #authorId="ngModel" matInput placeholder="AuthorId" required>
    </mat-form-field>
    <mat-form-field>
      <input type="number" name="teamId" [(ngModel)]="projectUpdate.teamId" #teamId="ngModel" matInput placeholder="PerformerId" required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="projectForm.invalid">Save</button>
    <button mat-raised-button type="button" (click)="close(projectForm.dirty)">Close</button>
  </div>
</form>