<mat-card>
  <mat-card-header>
    <mat-card-title>Create User</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="createUser()">
      <mat-form-field>
        <input type="text" formControlName="firstName" matInput placeholder="FirstName">
      </mat-form-field>
      <mat-form-field>
        <input type="text" formControlName="lastName" matInput placeholder="LastName">
      </mat-form-field>
      <mat-form-field>
        <input type="email" formControlName="email" matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input type="datetime-local" formControlName="birthday" matInput  placeholder="Birthday">
      </mat-form-field>
      <mat-form-field>
        <input type="number" formControlName="teamId" matInput placeholder="TeamId">
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Save</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>