<h1 mat-dialog-title>Edit TeamId: {{teamUpdate.id}}</h1>
<form #teamForm="ngForm" (ngSubmit)="updateTeam()">
  <div mat-dialog-content>
    <mat-form-field>
      <input type="text" name="name" [(ngModel)]="teamUpdate.name" #name="ngModel" matInput placeholder="Name" required minlength="2" maxlength="100">
      <mat-error class="error-message" *ngIf="name.invalid">At least 2 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea name="description" [(ngModel)]="teamUpdate.description" #description="ngModel" matInput placeholder="Description" required minlength="10" maxlength="500"></textarea>
      <mat-error class="error-message" *ngIf="description.invalid">At least 10 characters</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="teamForm.invalid">Save</button>
    <button mat-raised-button type="button" (click)="close(teamForm.dirty)">Close</button>
  </div>
</form>