<mat-card *ngIf="show">
  <mat-card-header>
    <mat-card-title>Id : {{project.id}}</mat-card-title>
    <mat-card-subtitle>Name : {{project.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{project.description}}</p>
    <p>CreatedAt : {{project.createdAt | formatDate}}</p>
    <p>Deadline : {{project.deadline | formatDate}}</p>
    <mat-card-actions *ngIf="project.tasks.length">
      <button mat-raised-button color="accent" (click)="collapsedTask=!collapsedTask">Tasks</button>
    </mat-card-actions>
    <mat-card-content *ngIf="collapsedTask" >
      <mat-card *ngFor="let _task of project.tasks">
        <mat-card-header>
          <mat-card-title>TaskId : {{_task.id}}</mat-card-title>
          <mat-card-subtitle>Name : {{_task.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{_task.description}}</p>
          <p>CreatedAt : {{_task.createdAt | formatDate}}</p>
          <p>FinishedAt : {{_task.finishedAt | formatDate}}</p>
          <p>State : <span taskState>{{_task.state}}</span></p>
          <p>ProjectId : {{_task.projectId}}</p>
          <mat-card-actions *ngIf="_task.performer">
            <button mat-raised-button color="accent" (click)="_task.collapsedPerformer=!_task.collapsedPerformer">Performer</button>
          </mat-card-actions>
          <mat-card-content *ngIf="_task.collapsedPerformer">
            <p>PerformerId : {{_task.performer.id}}</p>
            <p>FistName : {{_task.performer.firstName}}</p>
            <p>LastName : {{_task.performer.lastName}}</p>
            <p>Email : {{_task.performer.email}}</p>
            <p>Birthday : {{_task.performer.birthday | formatDate}}</p>
            <p>RegisteredAt : {{_task.performer.registeredAt | formatDate}}</p>
            <p *ngIf="_task.performer.teamId">TeamId : {{_task.performer.teamId}}</p>
          </mat-card-content>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-actions *ngIf="project.author">
      <button mat-raised-button color="accent" (click)="collapsedAuthor=!collapsedAuthor">Author</button>
    </mat-card-actions>
    <mat-card-content *ngIf="collapsedAuthor">
      <p>AuthorId : {{project.author.id}}</p>
      <p>FistName : {{project.author.firstName}}</p>
      <p>LastName : {{project.author.lastName}}</p>
      <p>Email : {{project.author.email}}</p>
      <p>Birthday : {{project.author.birthday | formatDate}}</p>
      <p>RegisteredAt : {{project.author.registeredAt | formatDate}}</p>
      <p *ngIf="project.author.teamId">TeamId : {{project.author.teamId}}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="project.team">
      <button mat-raised-button color="accent" (click)="collapsedTeam=!collapsedTeam">Team</button>
    </mat-card-actions>
    <mat-card-content *ngIf="collapsedTeam">
      <p>TeamId : {{project.team.id}}</p>
      <p>Name : {{project.team.name}}</p>
      <p>{{project.team.description}}</p>
      <p>{{project.team.createdAt | formatDate}}</p>
    </mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="deleteProject()">DELETE</button>
    <button mat-button (click)="openDialog()">EDIT</button>
  </mat-card-actions>
</mat-card>